
h1{
    text-align: left;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.transition {
    display: block;
    background-color: rgb(255, 185, 94);
    transition: background-color 1s ease;
    border-radius: 30px;
    width: 150px;
    height: 50px;
}
.transition:hover {
    background-color: rgb(95, 160, 172);
}
.crescendo {
    display: block;
    margin: 10px 0;
    border-radius: 30px;
    width: 150px;
    height: 50px;
    transition: width 0.5s ease;
}
.crescendo:hover {
    width: 200px;
}
.atraso {
    display: block;
    margin: 10px 0;
    border-radius: 30px;
    width: 150px;
    height: 50px;
    color: rgb(6, 0, 63);
    background-color: rgb(220, 156, 245);
    transition: background-color 0.5s ease-in;
    border: 3px solid black;
}
.atraso:hover {
    color: rgb(255, 217, 0);
    background-color: rgb(255, 0, 106);
    border: 5px solid black;
}

.noticia {
    display: flex;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 400px;
    height: 150px;
    color: rgb(0, 0, 0);
    box-shadow: 0px 1px 15px gray;
    transition: background-color, box-shadow, width, 1s ease;
}
.noticia:hover {
    width: 500px;
    box-shadow: 20px 30px 20px gray;
    background-color: rgb(134, 186, 235);
}

img {
    width: 200px;
    transition: width 3s ease;  
    border-radius: 20px;
    margin-left: 15px;
}

.interativo{
    display: flex;
    flex-direction: column;
    margin: 20px 20%;
}
.p1, .p2, .p3 {
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 0px 1px 15px rgb(165, 149, 149);
    transition: background-color,font-size,color, 1s ease;
}
.p1:hover{
    font-size: 25px;
    color: rgb(255, 255, 255);
    background-color: rgb(75, 0, 110) ;
}
.p2:hover{
    font-size: 25px;
    color: rgb(255, 255, 255);
    background-color: rgb(59, 0, 107) ;
}
.p3:hover{
    font-size: 25px;
    background-color: rgb(75, 0, 124) ;
    color: rgb(255, 255, 255);
    transition-delay: 0.5s;

}

.zoom {
    width: 300px;
    height: 500px;
    transition: widht, height, 1s ease-in-out;  
    align-items: center;
}

.zoom:hover{
    width: 500px;
    height: 700px;
}

.menu{
    margin: 50px 0px;   
    display: flex;
    justify-content: space-around;
     transition: 0.5s ease;
     
}
.img1 {
    text-decoration: none;
    padding: 15px;
    color: rgb(255, 255, 255);
    transition: 0.5s ease;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 15px;
    background-color: rgb(109, 0, 0);
    box-shadow: 0px 1px 15px gray;
    transition: background-color, box-shadow, width, 1s ease;
    text-decoration: underline;
    text-decoration-color: rgb(109, 0, 0);
}
.img1:hover{
    text-decoration: underline;
    font: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(109, 0, 0);
}

